@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(243, 243, 243);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
  position: relative;
  top: 10rem;
  font-family: poppins;
  display: grid;
  grid-template-rows: auto 2fr auto;
  justify-content: center;
  gap: 2rem;
  width: 100vw;
}
.aboutUs-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  background-color: white;
  width: 80vw;
  gap: 1em;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.aboutUs-h1 {
  font-size: clamp(3.4rem, 5vw, 5rem);
  padding: 1em;
  font-family: "Poppins", sans-serif;
}
.aboutUs-p {
  font-size: clamp(0.5rem,3vw,2rem);
  font-family: "Poppins", sans-serif;
  text-align: justify;
  padding: 1.5em;
  padding-top: 0px;
}
.main-content {
  background-color: black;
  width: 100%;
}
.container__cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 30px;
  padding: 3em 30px;
}
.card {
  width: 280px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}
.image-holder {
  width: 100%;
  height: auto;
}
.image-holder > img {
  width: 100%;
}
.card-content {
  height: auto;
  width: auto;
}
.name {
  text-align: center;
}
.description {
  padding: 0 1em;
  overflow: hidden;
}
.description > p {
  font-size: 1.5rem;
  margin: 0.5em 0px;
}

@media only screen and (max-width: 768px) {
  .aboutUs-section{
    width: 90vw;
    position: relative;
    top:10rem;
  }

}