html,body{

    margin:0px;
    padding:0px;
}
.addblood{

    width:fit-content;
    background-color:white;
    margin: 20px auto auto auto;
    box-shadow: 0px 0px 10px -5px black;
    padding:1rem;
}
table{

    border-collapse: collapse;
    text-align: center;
    font-size: 30px;
    padding: 1rem;
    
}
th,td{

    padding: 0.3rem;
    border:3px solid rgba(255, 255, 255, 0.753);
    
}
th{

    font-size: 20px;
    background-color:rgb(255, 64, 0);
}
tr{
    margin-top:5px;
    margin-bottom: 10px;
}
.add{

    all:unset;
    cursor: pointer;
    position:relative;
    left:100%;
    transform: translate(-100%,0px);
    background-color:  rgb(1, 181, 1);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    margin-top: 10px;
   
}