@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
  background-color: rgb(240, 240, 240);

}

body{
  min-height: 100vh;
}

.dummy {
  height: 8rem;
}
.showcamp {
  margin: 40px auto 10px auto;
  width: fit-content;
  box-shadow: 0px 0px 10px -5px #000000;
}

.foot{
  position: relative;
  bottom: 0;
}

.table {
  border-collapse: collapse;
  font-size: 17px;
  padding-top: 5px;
}
th,
td {
  text-align: center;
  vertical-align: middle;
  padding: 1rem auto 1rem auto;
  border: 2px solid rgba(127, 127, 127, 0.527);
}
th {
  border: 1px solid #c03929;
  background-color: #c03929;
  min-width: 150px;
  padding: 1rem auto 1rem auto;
  height: 50px;
  font-size: 25px;
  font-weight: 600;
  color: white;
}
td {
  overflow: hidden;
  padding: 1rem auto 1rem auto;
}

.head {
  color: #a94442;
  font-size: 1.5rem;
  padding: 2rem 5rem 0rem;
  border-bottom: 1px solid #a94442;
  font-style: normal;
}
.searchcamp {
  margin: 50px auto;
  width: fit-content;
}
.schedule {
  background-color: #c03929;
  padding: 0.5em auto 0.5rem 0.5rem;
  color: white;
}
.table1 {
  width: 1000px;
}
.table1 tr td {
  border: none;
}
.con {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 20px;
  min-height: 70vh;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  /* padding: 2rem; */
  border-radius: 15px;
  overflow: hidden;
  width: 450px;
  height: 300px;
  padding: 2rem;
  position: relative;
}

.info {
  margin-bottom: 1rem;
}

.info{
  border-collapse: collapse;
  border-bottom: 1px solid black;
}

.info td {
  font-size: 1.6rem;
  color: #383838da;
  padding: 5px 15px;
  border: 0;
  text-align: left;
}

.d {
  font-size: 1.4rem;
  color: gray;
}

.sbt-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #a94442;
  padding: 5px 10px;
  border-bottom-left-radius: 150px;
  height: 12rem;
  width: 12rem;
}

.sbt-btn:hover {
  transition: 0.3s ease;
  transform: scale(1.05);
}

.button {
  cursor: pointer;
  padding: 0.5em 1em;
  color: white;
  border-radius: 5px;
  font-size: 1.6rem;
  background-color: #a94442;
  border: none;
  position: relative;
  top:10px;
  right: -10px;
}

@media only screen and (max-width: 768px) {
.head {
  font-size: 1.2rem;
}

.info td {
  font-size: 1.3rem;
}

}