@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 62.5%; */
  background-color: rgb(243, 243, 243);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  top: 10rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  gap: 1rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  color: #a94442;
  font-size: 1.5rem;
  padding: 2rem 5rem 0rem;
  width: 100vw;
  border-bottom: 1px solid #a94442;
  position: relative;
}

.container {
  position: relative;
  top: 5rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: max-content;
  border-radius: 25px;
  margin: 0 auto;
  padding: 5rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20rem;
}

span {
  color: red;
}

.form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

.form > h1 {
  font-size: 2rem;
  display: block;
  width: 100%;
  border-bottom: 2px solid black;
  text-align: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10rem;
}

.formField {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1rem;
}

.formField > label {
  font-size: 1.5rem;
  text-wrap: wrap;
  width: 20vw;
}

.formField > input[type="text"],
.formField > input[type="date"],
.formField > input[type="email"],
.formField > input[type="number"],
select {
  width: 20vw;
  height: 2rem;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.277);
  background-color: rgb(250, 250, 250);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
  padding: 15px 30px;
}

hr{
  border: 0.5px solid black;
  
}

input[type="submit"] {
  width: auto; 
  padding: 10px 20px; 
  margin: 0 auto; 
  display: block; 
  background-color: #a94442; 
  color: white; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 1.5rem; 
  transition: 0.5s ease; 
}

input[type="submit"]:hover {
  background-color: #ca4745; 
  transform: translateY(-3px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

.radio {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  font-size: 1.5rem;
}

.formField > ul > li {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .main {
    position: relative;
    padding-top: 10rem;
  }

  .container {
    padding: 2rem 2rem;
    top: 0;
    margin-bottom: 0rem;
  }

  .row {
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
  }

  .formField > input[type="text"],
  .formField > input[type="date"],
  .formField > input[type="email"],
  .formField > input[type="number"],
  select {
    width: 80vw;
  }

  .formField > label {
    width: 80vw;
  }
}
