@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  background-color: rgb(243, 243, 243);
  scroll-behavior: smooth;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.main {
  position: relative;
  top: 10rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  gap: 1rem;
  width: 100vw;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.heading {
  color: #a94442;
  font-size: 1.5rem;
  padding: 2rem 5rem 0rem;
  width: 100vw;
  border-bottom: 1px solid #a94442;
  position: relative;
}

.editForm {
  z-index: 7;
  position: absolute;
  top: 0;
  width: 100vw;
  height: max-content;
  transition: transform 0.3s ease; /* Add transition property */
}

form {
  display: flex;
  gap: 5rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.foot{
  position: relative;
  bottom: 0;
  margin-top: 5rem;
}

.editcard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 5rem 5rem;
  border-radius: 25px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  width: max-content;
  background-color: white;
  .header {
    text-align: left;
    display: inline-block;
    width: 100%;
    font-size: 2.5rem;
    font-family: Poppins;
    font-weight: 600;
    color: #a94442;
    position: relative;
    border-bottom: 1px solid #a94442;
  }

  .header .fa-solid {
    position: absolute;
    top: -40%;
    right: 0;
  }
  .header .fa-solid:hover {
    cursor: pointer;
    transform: scale(105%);
    transition: 0.3s ease;
  }
}

.row {
  display: flex;
  justify-content: left;
  align-items: left;
  gap: 5rem;
  width: max-content;
}

.field {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.label {
  font-size: 2rem;
  color: #a94442;
  font-family: Poppins;
  margin-left: 10px;
}

.field input,
.field select {
  height: 40px;
  width: 20vw;
  outline: none;
  padding-left: 15px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
  background-color: white;
  text-align: left;
}

.field input:focus,
.field select:focus {
  border-color: #ff4f1a;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.field input::placeholder,
.field select::-ms-value,
.field select::selection {
  color: #999;
  transition: all 0.3s ease;
}
.field input:focus::placeholder,
.field select:focus::-ms-value,
.field select:focus::selection {
  color: #ff4f1a;
}

.signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.field > input {
  padding: 1rem 2rem;
}

.custom_validate {
  color: red;
  font-size: 12px;
  width: auto;
  height: 12px;
  text-align: center;
}

.sub-btn {
  display: inline;
  padding: 10px 20px;
  background-color: #c4584c;
  font-size: 2rem;
  border: 0;
  color: white;
  border-radius: 5px;
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.sub-btn:hover {
  background-color: #a94442;
  transform: translate(0, -3px);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 768px) {
  .main {
    position: relative;
    padding-top: 10rem;
  }

  .container {
    padding: 2rem 2rem;
    top: 0;
    margin-bottom: 0rem;
  }

  .row {
    flex-direction: column;
    gap: 1rem;
    align-items: baseline;
  }

  .formField > input[type="text"],
  .formField > input[type="date"],
  .formField > input[type="email"],
  .formField > input[type="tel"],
  .formField > input[type="number"],
  select {
    width: 80vw;
  }

  .formField > label {
    width: 80vw;
  }
}
