@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  display: flex;
  background-color: rgb(243, 243, 243);
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.card {
  background-color: white;
  padding: 2rem 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  gap: 1rem;
  height: 50vh;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.2);
}

input {
  background-color: white;
  border: 1px solid rgb(187, 187, 187);
  border-radius: 15px;
  padding: 1rem 1rem;
  width: 25rem;
  box-shadow: 0px 1px 2px rgb(190, 190, 190);
  font-size: 1.2rem;
  font-family: poppins;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.fa-lock {
  font-size: 80px;
  color: #333333;
}

button {
  padding: 1rem 5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 0px;
  background: -webkit-linear-gradient(
    right,
    #fc0015,
    #f2001c,
    #e90021,
    #e00029,
    #d2002e
  );
  box-shadow: 0px 1px 0px rgb(190, 190, 190);
  color: white;
  font-weight: 700;
  cursor: pointer;
}

.custom_validate {
  color: red;
  font-weight: 300;
}

@media only screen and (max-width: 768px) {
  .card {
    height: 60vh;
    width: 90vw;
  }

  h1 {
    font-size: 1.5rem;
    text-wrap: nowrap;
  }

  p {
    font-size: 0.9rem;
    text-wrap: nowrap;
  }

  input {
    font-size: 0.9rem;
  }
  .fa-lock {
    font-size: 70px;
  }

  button {
    font-size: 1rem;
  }
}
