@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.main {
  position: relative;
  top : 4rem;
  display: grid;
  grid-template-rows: auto 2fr auto;
  gap: 6rem;
  font-family: "Roboto", sans-serif;
  background-color: rgb(243, 243, 243);
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  display: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #333333;
  height: 8rem;
  z-index: 1000;
  position: fixed;
  width: 100vw;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 30px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: whitesmoke;
}
.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link:hover {
  color: #e3440e;
}

.nav-logo {
  font-size: 3rem;
  color: #e3440e;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 1rem;
}

.nav-link {
  position: relative;
  color: whitesmoke;
  text-decoration: none;
  overflow: hidden;
  font-size: 2.5rem;
  font-family: "Ubuntu Mono", monospace;
}

.nav-link::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #e3440e;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
  margin-right: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 10px;
  padding: 5px 0;
  font-size: 1.5rem;
  left: -15px;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
.login-button {
  padding: 10px 20px;
  font-size: 18px;
  border: none;
  background-color: whitesmoke;
  color: black;
  cursor: pointer;
  border-radius: 25px; /* Make it round */
  transition: background-color 0.3s ease;
  display: flex; /* Make the icon align with text */
  align-items: center; /* Make the icon align with text */
}
.login-button:hover {
  background-color: whitesmoke;
}
.person-icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.slider {
  width: 100vw;
  height: 90vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.slides {
  width: 500vw;
  height: 90vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100vw;
  transition: 0.5s;
}

.slide img {
  width: 100vw;
  height: auto;
  position: relative;
}

.navigation-manual {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #333333;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #333333;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.donateBlood {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  gap : 5rem;
}

.donateBlood > .bloodGroupTable {
  font-size: 2rem;
}

table th {
  font-size: 3rem;
}

.donateBlood > .image {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.bloodGroupTable table {
  border-spacing: 0;
  border-collapse: collapse;
}

.bloodGroupTable th {
  text-align: left;
  background-color: #e3440e;
  color: whitesmoke;
  padding: 10px 10px;
  font-size: 2.5rem;
  font-family: Ubuntu;
  letter-spacing: 1px;
}

.bloodGroupTable td {
  padding: 8px 0px;
  padding-left: 5px;
  padding-right: 100px;
  text-align: left;
  border-bottom: 1px solid black;
  font-family: ubuntu;
  font-weight: 500;
}

.bloodGroupTable tr > *:first-child {
  font-weight: 800;
}

.whyDonateBlood {
  scroll-margin: 10rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin: 0px 10vw;
  gap: 10rem;
}

.whyDonateBlood > img {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.Text{
  line-height: 1.4;
}

.Text > h1 {
  font-size: 5rem;
}

.Text > p {
  font-size: 2rem;
}

.custom-bullet {
  list-style: none;
  padding-left: 20px;
  position: relative;
  font-size: 2rem;
  left: 2rem;
}

.custom-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
