@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.header {
  border-bottom: 1px solid #e2e8f0;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: #333333;
}
.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}
.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link:hover{
    color: #E3440E;
}

.nav-logo {
    font-size: 3rem;
    color: #E3440E;
    display: flex;
    flex-wrap: nowrap;    
    align-items: center;
    gap: 1rem;

}

.nav-link {
  position: relative;
  color: whitesmoke;
  text-decoration: none;
  overflow: hidden; 
  font-size: 2.5rem;
  font-family: "Ubuntu Mono",monospace;
}

.nav-link::after {
  content: '';
  position: absolute;
  bottom: -2px; 
  left: 0;
  width: 0;
  height: 2px;
  background-color: #E3440E;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}
