@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.main {
  position: relative;
  top: 4rem;
  font-family: poppins;
  display: grid;
  grid-template-rows: auto 2fr auto;
  gap: 6rem;
  background-color: rgb(243, 243, 243);
  width: 100vw;
}

.slider {
  width: 100vw;
  height: 90vh;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
  position: relative;
  z-index: 0;
}

.slides {
  width: 500vw;
  height: 90vh;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 100vw;
  transition: 0.5s;
}

.slide img {
  width: 100vw;
  height: auto;
  position: relative;
}

.navigation-manual {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #333333;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: #333333;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

.donateBlood {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 5rem;
  width: 100vw;
}

.donateBlood > .bloodGroupTable {
  font-size: 2rem;
}

table th {
  font-size: 3rem;
}

.donateBlood > img {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
}

.bloodGroupTable table {
  border-spacing: 0;
  border-collapse: collapse;
}

.bloodGroupTable th {
  text-align: left;
  background-color: #e3440e;
  color: whitesmoke;
  padding: 10px 10px;
  font-size: 2.5rem;
  font-family: Ubuntu;
  letter-spacing: 1px;
}

.bloodGroupTable td {
  padding: 8px 0px;
  padding-left: 5px;
  padding-right: 100px;
  text-align: left;
  border-bottom: 1px solid black;
  font-family: ubuntu;
  font-weight: 500;
  background-color: white;
}

.bloodGroupTable tr > *:first-child {
  font-weight: 800;
}

.whyDonateBlood {
  scroll-margin: 10rem;
  padding: 0 5rem;
  /* display: flex; */
  /* flex-direction: row-reverse; */
  /* justify-content: center;
  align-items: center; */
  gap: 10rem;
  width: 100vw;
}

.float-con > img {
  filter: drop-shadow(0px 10px 10px rgba(0, 0, 0, 0.2));
  float: right;
  margin-left: 8rem;
}


.Text{
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}

.whyDonateBlood > h1 {
  font-size: 5rem;
}

.float-con > p {
  font-size: 2rem;
}

.custom-bullet {
  list-style: none;
  padding-left: 20px;
  position: relative;
  font-size: 2rem;
  left: 2rem;
}

.custom-bullet::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
}
.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
  }
  .reveal.revealed {
    opacity: 1;
    transform: translateY(0);
  }
  .graphcontainer{

    height: 300px;
    width:300px;
    background-color: rgb(255, 0, 0);
    position: relative;
    z-index:100;
    color:antiquewhite
    
  }
  .graph{

    height: 100%;
    width: 100%;
    color: black;
  }