:root{

    --button_color:#c4584c;
}
html,body{

    margin:0px;
    padding:0px;
}
.addCamp,.showcamp{

    
 
    padding:2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.286);
    position: relative;
}
.showcamp{
    
    margin-top: 20px;
    margin-bottom: 10px;
    width: 68%;
    margin-left:auto;
    margin-right: auto;
}
.addCamp{

    margin:0px auto;
    width:70%;
}
table{

    border-collapse: collapse;
    text-align: center;
    margin-bottom: 10px;
    margin-left: 0px;
}
th,td{
    
    padding: 0.3rem;
    
    
}
th{

    font-size: 20px;
    background-color:#c03929;
    color:white;
    padding:0.5rem auto 0.5rem 1rem;
}
td{  border:3px solid rgba(230, 230, 230, 0.701);
padding:5px;}
tr{
    margin-top:5px;
    margin-bottom: 10px;
}
.dummy{
    height:9rem;
}
.add{
    
    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    margin-top: 10px;
    position:relative;
    left:100%;
    transform: translate(-100%,0px);
    
}
.signout{
 
    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    position:relative;
    left:100%;
    transform: translate(-100%,0px);
    margin-top: 10px;
    
}
.available{
    
    margin:10px auto 30px auto;
    color: #a94442;
    font-weight:750;
    font-size:30px;
    padding: 2rem 5rem 0rem;
    border-bottom: 1px solid #a94442 ;
    
}
.table tr td{
    
    width:150px;
    font-weight: 500;
    font-size: 20px;
}
.goback{
    
    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    margin-top:10px;
    position:absolute;
}
.button{
    
    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    margin-top:10px;
}
.address{
    
    overflow: hidden;
}
.donordetail{
    
    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    margin-top:10px;
    position: absolute;
    left:50%;
    transform: translate(-50%,0);
}

.nav-container{
    
    width:100vw;
}
.table-container{

    width:100%;
    overflow-x: scroll;
    margin:0px auto;
    padding: 40px;
}  
.table{

    margin:0px auto;    
}
.table-control{

    width:max-content;
}


