:root{

    --button_color:#c4584c;
}
html,body{

    margin:0px;
    padding:0px;
}
.donortext{
    margin:10px auto 30px auto;
    color: #a94442;
    font-weight:750;
    font-size:30px;
    padding: 2rem 5rem 0rem;
    border-bottom: 1px solid #a94442 ;
}
.showdonor{

    margin:0px auto;
    width:max-content;
    padding:2rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.286);
    position: relative;
    margin-top: 20px;
    margin-bottom: 10px;
}
table{

    border-collapse: collapse;
    text-align: center;
    
}
th,td{

    padding: 0.3rem;
    border:3px solid rgba(230, 230, 230, 0.701);
    
}
th{

    font-size: 20px;
    background-color:#c03929;
    color:white;
}
tr{
    margin-top:5px;
    margin-bottom: 10px;
}
.add{

    all:unset;
    cursor: pointer;
    background-color:  var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
    
}
.button{

    all:unset;
    cursor: pointer;
    background-color: var(--button_color);
    padding:0.2em 0.4em;
    color: white;
    border-radius: 0.35em;
    font-size: 20px;
   
}
